@use "mixin" as *;

body {
  background: #d1d1d1;
  font-family: 'Montserrat', sans-serif;
}

.cv-container {
  max-width: 1000px;
  margin: 50px auto;
}

.main-content {
  background-color: #ffffff;
  padding: 0px 0px 40px 90px;
}

.sidebar {
  background-color: #ffffff;
  padding: 110px 0px 0px 70px;
}

.section-title-l {
  @include section-title-base;
  width: 160px;
}

$width-l: 180px;
.section-title-r {
  @include section-title-base;
  width: $width-l + 40px;
}