.toggle-header {
  cursor: pointer; // Вказує що елемент клікабельний
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.arrow-icon {
  transition: transform 0.3s ease;
  font-size: 0.8em;
}

.arrow-icon.rotate {
  transform: rotate(-90deg);
}

.toggle-content {
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
}

.toggle-content.hidden {
  max-height: 0;
  opacity: 0;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}