@use "variables" as *;

@mixin section-title-base {
  font-size: 1.3rem;
  margin-top: $margin-section-top;
  margin-bottom: 30px;
  padding: $padding-title-v 30px $padding-title-v 15px;
  background-color: $color-primary;
  color: $color-secondary;
  border-bottom: 0;
}