body p {
    font-size: 1.5rem;
}
.cv-container {
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 30px 20px;
    margin-right: 100px;
}
.main-content {
    padding: 30px 40px;
}
.section-title {
    display: inline-block;
    padding-right: 50px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #343a40;
}
.abt {
    color: #343a40;
    background-color: #fff;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.sct {
    margin-bottom: 8em !important;
    margin-top: 2em !important;
}
.section-title.contact-title {
    border-bottom: none !important;
    padding-right: 50px !important;
}
.contact-item, .reference-item {
    margin-bottom: 10px;
}
.skill-bar-container {
    margin-bottom: 15px;
}
.progress-bar-custom {
     background-color: #343a40 !important;
}
.header-section {
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
    padding-left: 1rem !important;
}
.header-image {
    height: 600px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}