$color-primary: #161718;
$color-secondary: #ffffff;
$margin-section-top: 50px;
$padding-title-v: 3px;
@import "../components/main/base.scss";
@import "../components/main/header.scss";
@import "../components/sidebar/leftbar.scss";
@import "../components/sidebar/rightbar.scss";
@import "../components/main/modules.scss";