@use "base";
@use "interactive";

// Left side
@use "../components/sidebar/header";

// Right side
@use "../components/main/about.scss";
@use "../components/main/skills.scss";
@use "../components/main/experience.scss";