@use '../components/main/variables.scss' as variables;
@use '../components/main/base.scss' as base;
@use '../components/main/header.scss' as header;
@use '../components/main/leftbar.scss' as leftbar;
@use '../components/main/rightbar.scss' as rightbar;
@use '../components/main/modules.scss' as modules;
@use '../components/main/mixins.scss' as mixins;