body {
  font-family: Manege, LeoHand Light;
  background-color: #f5b1c5;
}

.header {
  text-align: center;
  color: rgb(165, 78, 110);
  background-color: #f5b1c5;
}
.content {
  margin: 0px 160px 0px 169px;
  padding: 20px;
  background-color: rgb(255, 228, 236);
  border-radius: 10px;
}
.image-container {
    text-align: center;
}