<div class="mb-4">
        <h5 class="fw-bold section-title-l">Contact</h5>
        <p class="fw-bold mb-0">Phone</p>
        <p class="mb-4">+000 123 456 789</p>
        <p class="fw-bold mb-0">Email</p>
        <p class="mb-4">yourname@gmail.com</p>
        <p class="fw-bold mb-0">Address</p>
        <p class="mb-4">Your Street Address<br>Town/City, zip code</p>
      </div>

      <div class="mb-4">
        <h5 class="fw-bold section-title-l">Education</h5>
        <div>
          <p class="mb-1">Year: 2005-2007</p>
          <p class="mb-0">Degree / Major Name</p>
          <p>Your College name here</p>
        </div>
        <div>
          <p class="mb-1">Year: 2007-2009</p>
          <p class="mb-0">Degree / Major Name</p>
          <p>Your College name here</p>
        </div>
      </div>

      <div class="mb-4">
        <h5 class="fw-bold section-title-l">Reference</h5>
        <div class="mb-4">
          <p class="fw-bold mb-0">Jhon Smith</p>
          <p class="mb-0">Company name / Title</p>
          <p>Phone: 0123 456 7890</p>
        </div>
        <div>
          <p class="fw-bold mb-0">Jhon Anderson</p>
          <p class="mb-0">Company name / Title</p>
          <p>Phone: 0123 456 7890</p>
        </div>
      </div>
    </div>