.about-section {
  height: 200px;
  padding: 30px;
  background-color: #161718;
}

.about-title-box {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0px 10px 0px 10px;
  background-color: #ffffff;
  color: #161718;
  display: inline-block;
  border-radius: 0;
}
