<div>
  <h5 class="fw-bold section-title-r">Experience</h5>
  <div class="mb-4">
    <h6 class="fw-bold mb-1">Senior UX Designer</h6>
    <p class="mb-2">Company Name/Location/2019-present</p>
    <p class="main-content-wrapper text-muted mb-0">Lorem ipsum dolor sit amet, this is a thena
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim</p>
  </div>
  <div>
    <h6 class="fw-bold mb-1">Junior UX Designer</h6>
    <p class="mb-2">Company Name/Location/2015-2019</p>
    <p class="main-content-wrapper text-muted mb-0">Lorem ipsum dolor sit amet, this is a thena
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim</p>
  </div>
</div>