@use 'variables';
.cv-name{
&-first {
    font-size: 4.5rem; 
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#000000;
}
&-last {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0px;
    color:#000000;
}
}
.cv-title {
    font-size: 2rem;
    font-weight: 600; 
    color:#000000;
    margin-top: 5px;
    margin-bottom: 90px;
}
.header-image {
  height: 400px;
  background-size: cover;
  background-position: center;
}