@use 'variables';
@use 'mixins';
.main-content {
  background-color:#ffffff;
  padding: 0px 0px 40px 90px;
}
$width-l: 160px;
.section-title-r {
    @include mixins.section-title-base;
    width: $width-l + 40px; 
}
.main-content-wrapper {
    padding-right: 50px;
}